<div class="col-md-3">
    <div class="panel panel-default">
        <div class="panel-heading"><strong><%= emotion.name %></strong></div>
        <div class="panel-body"><%= emotion.description %></div>
        <div class="panel-footer">
            <div class="small">
                <% if emotion.latitude && emotion.longitude %>
                <%= emotion.latitude %>, <%= emotion.longitude %><br>
                <% end %>
                <%= emotion.created_at %>
            </div>
        </div>
    </div>
</div>