<%= form_for @emotion, :html => { :role => :form, :class => "container" } do |f| %>

<div class="form-horizontal">
    <div class="form-group">
        <%= f.label 'What are you feeling?', :class => "col-sm-4 control-label" %>
        <div class="col-sm-4">
            <%= f.text_field :name, :class => "form-control" %>
        </div>
    </div>
    <div class="form-group">
        <%= f.label 'Why?', :class => "col-sm-4 control-label" %>
        <div class="col-sm-4">
            <%= f.text_field :description, :placeholder => "optional", :class => "form-control" %>
        </div>
    </div>
    <div class="form-group">
        <%= f.label 'Latitude', :class => "col-sm-4 control-label" %>
        <div class="col-sm-4">
            <%= f.text_field :latitude, :class => "form-control" %>
        </div>
    </div>
    <div class="form-group">
        <%= f.label 'Longitude', :class => "col-sm-4 control-label" %>
        <div class="col-sm-4">
            <%= f.text_field :longitude, :class => "form-control" %>
        </div>
    </div>
    
    <div class="text-center">
        <%= f.submit 'Create', :class => "btn btn-default" %>
    </div>
</div>

<% end %>